<div>{{title}}</div>
<div class="g-12">
    
    <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="g-12">
            First Name : <input type="text" id="firstNameId" formControlName="firstname">  
        </div>
        <div class="g-12">
            Last Name : <input type="text" id="lastnameId" formControlName="lastname">  
        </div>
        <div class="g-12">
            Birthday: <input type="text" id="birthdayId" formControlName="birthday">  
        </div>
        <div class="g-12">
            Email : <input type="text" id="emailId" formControlName="email">  
        </div>
        <button type="submit" *ngIf="!modeEdit">Add Employee</button>
        <button type="button" (click)="Update()" *ngIf="modeEdit">Update Employee</button>
    </form>
   
</div>